.skill-tag {
  padding: 5px 15px;
  border-radius: 50px;
  color: #4559FF;
  background-color: RGBA(69, 89, 255, .2)
;

  &:not(:last-of-type) {
    margin-right: 7px;
  }
}

@media screen and (max-width: 640px) {
  .skill-wrapper {
    display: flex;
  }
}
