/* You can add global styles to this file, and also import other style files */

*, body {
  margin: 0;
  padding: 0;
  background-color: #DDE1E8;
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

a, button {
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
}
