@import 'src/variables.scss';

.stackers__filters {

  &.mobile {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;

    button {
      width: 95%;
      height: 60px;
      border: none;
      border-radius: 50px;
      color: $white-color;
      letter-spacing: 2px;
      background-color: #4559FF;
    }
  }
}

.stackers__filters__modal {
  background-color: $white_color;
  height: 100vh;
  padding: 30px;

  .btn-wrapper {
    background-color: #4559FF;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.stackers__filters__stacks {
  h3 {
    margin-bottom: 15px;
  }
  fieldset {
    border: none;
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
    input {
      height: 22px;
      width: 22px;
    }

    label {
      margin-left: 10px;
      font-weight: lighter;
    }
  }
}

.stackers__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 20px;
}

.stackers__card {
  height: 420px;
  width: calc(100% - 20px);
  max-width: calc(100% - 20px);
  flex: 1 0 calc(100% - 20px);
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,0.58);
  -moz-box-shadow: 0 0 9px 0 rgba(0,0,0,0.58);
  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.20);

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }

  &__header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 50%;
  overflow: hidden;

    &__img {
      position: absolute;
      width: 100%;
      top: -55px;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__identity {
      height: 35%;
      padding-left: 15px;
      color: $white-color;

      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $white-color;
        background: linear-gradient(180deg, rgba(255,255,255,0.1) 56%, rgba(0,0,0,.40) 100%);
      }
      h2 {
        font-weight: 500;
        z-index: 1;
      }

      &__location {
       font-weight: 300;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    background-color: $white-color;
    height: 50%;
    padding: 30px 20px 20px 20px;

    &__header {
      h3 {
        font-weight: 600;
        font-size: 20px;
      }

      &__resume {
        &:hover {
          color: $primary-color;
          text-decoration: underline;
        }
      }

    }
  }

}

@media screen and (min-width: 769px) {
  .stackers__wrapper {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
  }

  .stackers__filters {
    background-color: $white-color;
    position: static;
    flex-basis: 350px;
    padding: 40px;
    border-radius: 10px;

    &__header {
      display: flex;
    }

    &__stacks {

      h3 {
        margin-bottom: 15px;
      }
      fieldset {
        border: none;
        display: flex;
        align-items: center;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
        input {
          height: 22px;
          width: 22px;
        }

        label {
          margin-left: 10px;
          font-weight: lighter;
        }
      }
    }
  }
}

@media screen and (min-width: 991px) {
  .stackers__card {

    width: calc(50% - 20px);
    max-width: calc(50% - 20px);
    flex: 1 0 calc(50% - 20px);
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}

@media screen and (min-width: 1199px) {
  .stackers__card {
    width: calc(33.33333% - 20px);
    flex: 1 0 auto;
    margin: 0 10px 20px;
    max-width: calc(33.33333% - 20px);
  }
}

@media screen and (min-width: 1599px) {
  .stackers__card {
    width: calc(25% - 20px);
    max-width: calc(25% - 20px);
    flex: 1 0 calc(25% - 20px);
  }
}

